body{
    margin: 0;
    padding: 0;
    background-color: #dff3f2;
    font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
}
.heading
{
    height: 100px;
    width: 100%;
    background-color:#5656ca;
    float: left;
    overflow: hidden;
}
.logo{
    float: left;
    margin-left: 25%;
    margin-top: 2%;
}
.logo img{
    width: 200px;
}
.taotk{
    font-size: 15px;
    margin-top: 2.3%;
    display: inline-block;
    padding: 7px 20px;
    background-color: green;
}
.taotk a{
    color:white;
    text-decoration: none;
}
.login{
    background-color: white;
    margin: 5% 30%;
    padding-top:10px ;
    padding-bottom: 20px;
    text-align: center;
}
.tieude{
    font-size: 25px;
}
.accout{
    display: block;
    margin: 10px;
}
.accout input{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:15px; 
    padding-right: 50px;
}
.password{
    display: block;
    margin: 10px;
}
.password input{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:15px; 
    padding-right: 50px;
}
.dangnhap{

    display: inline-block;
    margin: 10px;
}
.dangnhap input{
    color: white;
    padding: 10px 77px;
    font-size:15px; 
    background-color: blue;
}
p1{
    display: inline-block;
}
.p1 hr{
    size: 5px;
    width: 95px;
}
.p1 .hr1{
    display:inline-block;
}
.p1 p{
    display: inline-block;
    margin: 0px;
}
.p1 .hr2{
    display:inline-block;
}
.taotk1{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 7px 20px;
    background-color: green;
}
.taotk1 a{
    color:white;
    text-decoration: none;
}
.quentk{
    display: block;
    margin-top:5px;
}
.quentk a{
    font-size: 12px;
}
.clear{
    clear: both;
}
